@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Оставляем только базовый фикс без ломки z-index */
* {
  -webkit-tap-highlight-color: transparent;
}